<?xml version="1.0" encoding="UTF-8"?>

<config>

  <sauceplatform os="windows 8">
    
    <browser name="firefox">
      <versions>20 21</versions>
    </browser>
    
    <browser name="internet explorer">
      <versions>10</versions>
    </browser> 

  </sauceplatform>
  
  <sauceplatform os="os x 10.6">

    <browser name="firefox">
      <versions>12</versions>
    </browser>
    
  </sauceplatform>
  
</config>